- cpestring: "cpe:2.3:*:atlassian:jira"
  severities:
    - "LOW"
    - "MEDIUM"
    - "HIGH"
    - "CRITICAL"
  human_name: "Jira"
- cpestring: "cpe:2.3:*:atlassian:bitbucket"
  severities:
    - "LOW"
    - "MEDIUM"
    - "HIGH"
    - "CRITICAL"
  human_name: "Bitbucket"
- cpestring: "cpe:2.3:*:atlassian:confluence"
  severities:
    - "LOW"
    - "MEDIUM"
    - "HIGH"
    - "CRITICAL"
  human_name: "Confluence"
- cpestring: "cpe:2.3:*:f5:nginx"
  severities:
    - "LOW"
    - "MEDIUM"
    - "HIGH"
    - "CRITICAL"
  human_name: "nginx"
- cpestring: "cpe:2.3:*:openresty:openresty"
  severities:
    - "LOW"
    - "MEDIUM"
    - "HIGH"
    - "CRITICAL"
  human_name: "Openresty"
